<div class="icon">
  <%= link_to "", "#", class: "videoTile rank#{f.ranking}Icon", rel: "tooltip", title: "#{ f.ranking == 1 ? "Lowest" : (f.ranking == 2 ? 'Medium' : (f.ranking == 3 ? "Highly" : "Top"))} ranked" %>
</div>

