<div class="icon">
  <%= link_to "", "#", class: "videoTile rank#{f.ranking}Icon", rel: "tooltip", title: "#{ f.ranking == 1 ? "Not" : (f.ranking == 2 ? 'Low' : (f.ranking == 3 ? "Mid" : "High"))} ranked" %>
</div>

