<div class="icon">
  <%= link_to "", "#", class: "videoTile vote#{f.ave_vote.round(0)}Icon", rel: "tooltip", title: "#{f.ave_vote.round(2)}/5 from #{pluralize(f.votes_count.round(0),"vote")}" %>
</div>