<div class="tabbable">
	<h3>Solutions / Video Categories</h3>
  <ul id="categories" class="nav nav-pills">
	  <li class="active adoptPill"><a href="#adopt" data-toggle="tab"></a></li>
    <li class="volunteerPill"><a href="#volunteer" data-toggle="tab"></a></li>
    <li class="donatePill"><a href="#donate" data-toggle="tab"></a></li>
    <li class="spayNeuterPill"><a href="#spayNeuter" data-toggle="tab"></a></li>
    <li class="fosterPill"><a href="#foster" data-toggle="tab"></a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane" id="volunteer">
      <p>Suppose your current situation doesn’t allow you to have pets or you already have a pet and cannot take on another. But you still would like to help the animals at your local shelter, what can you do?</p>
	 <p>Many people think there are only two ways to help shelter animals…adopt one or make a donation. However, volunteering at your local shelter is an easy and fulfilling way to help out.</p>
	 <p>Volunteering can be an incredibly rewarding experience. Not only will you be helping the shelters but you have an opportunity to help the animals as well.</p>
	 <p>There are many tasks for volunteers, from walking the dogs to bathing them, to spending time with the animals to giving them company and socializing them. It is so important that these animals have an opportunity to get out of their kennels and have human interaction. Spending just a few minutes with an animal allows them to have one-on-one time which will help them get ready to meet someone who’s ready to adopt and become their new parent.</p>
	 <p>Volunteering is as simple as contacting your local animal shelter, filling out an application and attending their orientation. It costs you nothing but your time and the reward is priceless.</p>
    </div>
    <div class="tab-pane" id="donate">
      <p>If you are currently unable to adopt or foster a shelter animal a great way to help out is to donate. Other than monetary donations, animal shelters are in need of all types of items.</p>
      <p>With limited budgets, shelters rely on tangible donations such as:</p>
      <ul class="bullets">
        <li>Used towels and blankets. What may seem old and ragged to us goes completely unnoticed to a cat or dog. Old towels and blankets are great for shelter animals after a bath and to sleep on in their cages. Many times they get cold and need the warmth of something cozy.</li>
        <li>Newspapers – with the increase in online reading there has been a shortage of newspapers available to line the bottoms of cages for kittens, puppies and rabbits. By saving your old newspapers and making a weekly or monthly drop off you can help to keep these animals cages clean.</li>
        <li>Toys – animals love to play!  Cat and dog toys can entertain animals for hours while they sit alone in their cages waiting to be adopted.</li>
        <li>Cleaning supplies – keeping shelters clean and sterile is a must. Paper towels, detergents and other cleaning supplies are much appreciated.</li>
        <li>Gift Cards – if you don’t have the time to run out and purchase any needed supplies or toys and you have an old gift card lying around, donate it. Cards from stores like Home Depot and grocery stores are extremely useful as many of the needed items for shelters can be purchased there.</li>
      </ul>
      <p>Not only is donating to a shelter incredibly helpful and rewarding but it is also a great way to connect with and support your local shelter. By developing this relationship you help to make a difference in the lives of shelter animals.</p>
    </div>
    <div class="tab-pane" id="foster">
      <p>Did you know that if you are not ready to adopt a pet you can foster one from a shelter?</p>
      <p>Fostering programs are available at most shelters and provide an opportunity for you to experience owning a pet without a permanent commitment. Training is offered at some locations that help to prepare you on what to expect while fostering an animal. Training varies based on the needs and age of the animal being fostered.</p>
      <p>Some animals may only need a home for several days or weeks, while others may need longer. It all depends on the situation of the foster animal. Fostering a shelter animal helps to socialize them so that they become more adoptable and better companions for their next home. It also helps you to discover what traits and characteristics you may want to look for in your next pet.</p>
      <p>By fostering an animal in need you are helping to prepare that animal for a loving, permanent home as well as saving its life. It is a win-win situation:  the pet gets a a second chance and a break from kennel life and you get to enjoy the benefits of having a temporary loving companion.</p>
      <p>A lot of times, a pet in a shelter is under a lot of stress and their personality doesn’t shine as much as in a home environment.</p>
    </div>
    <div class="tab-pane" id="spayNeuter">
      <p>One of the main reasons shelters are at full capacity is due to the over-population of cats and dogs.  And the main reason for this overpopulation is the lack of spaying and neutering these animals.</p>
      <p>Spaying is the term used to describe the removal of a female animal’s reproductive ability and neuter is the term used to describe that of the male animal. Both procedures are performed by a veterinarian and can be done to an animal as early as 8 weeks of age.</p>   
      <p>Some of the many benefits to spaying and neutering include:</p>
      <ul class="bullets">
        <li>the prevention of undesirable behavior, especially in male dogs such as frequent urine marking, humping, aggression and the tendency to wander</li>
        <li>easier socialization with other animals and other pets within the household</li>
        <li>overall improved health by reducing the risk of cancers</li>
      </ul>
      <p>There is a false belief that people have that their pets’ litters will not become shelter animals or that their pets will never even have litters. However, the reality is that pets do wander and will eventually get pregnant or get another animal pregnant and the result is a litter of cats or dogs. Even if these litters are placed in homes, the chances of them ending up in a shelter is high and thus the cycle continues. Spay/neuter is the only surefire method of birth control for cats and dogs which in turn helps in the reduction of over-population in shelters.</p> 
      <p>Spaying and neutering is an important and responsible decision for pet owners. It will not only give your pet a healthier and happier life but will also help save the lives of millions of pets each year.</p>
    </div>
    <div class="tab-pane active" id="adopt">
      <p>Each year, 6 to 8 million cats and dogs enter shelters across the U.S. and 3-4 million of those are euthanized. By adopting a pet from a shelter you not only help to decrease these exorbitant numbers and save a life but you gain a loyal and grateful companion.</p>
      <p>The assumptions that shelter animals are damaged goods, dangerous or sickly are all misconceptions. The fact is that shelter pets are highly adaptable, fully trainable, healthy animals. Many of them are already housebroken and have been dropped at shelters not because they were dangerous or bad but mostly due to the previous owner’s personal, living, or financial situations.</p>
      <p>A lot of people don’t realize that shelters also have many purebred animals as well as puppies, kittens and even mature pets who usually need less training. There is an endless selection of amazing animals that just want a loving family and a place to call home.</p> 
      <p>Giving a shelter pet a second chance is not only a rewarding experience but it will also improve the quality of one’s life. Studies have shown that people with pets have an improved physical and emotional well being. The bottom line, you save a life, and you get a new best friend.</p>
    </div>
  </div>
</div>