<div id="sidebar">
  <%= link_to "", "http://www.petsafe.com", class: "logo", target: "_blank" %>
	<div id="tallAd">
		<%= link_to image_tag("petSafe1.jpg", width: "170", height: "475"), "http://www.petsafe.com", target: "_blank" %>
	</div>
</div>