<div id="sidebar" class="affix">
  <%= link_to "", "http://www.petsafe.com", class: "logo", target: "_blank" %>
	<div id="tallAd">
		<%= link_to image_tag("petSafe1.jpg", width: "170", height: "475"), "http://www.petsafe.com", target: "_blank" %>
	</div>
</div>
<% if signed_in? and current_user.name == "Tim Lenz" %>
<div id="top" style="position:fixed;left:10px;bottom:120px;">top</div>
<div id="scroll" style="position:fixed;left:10px;bottom:100px;">scroll</div>
<div id="height" style="position:fixed;left:10px;bottom:80px;">height</div>
<% end %>