<%= provide(:title, 'Privacy Policy') %>
<div id="mainContent">
	<div class="staticContent">	
		<h3>Contact Us</h3>
		<div class="staticEntry">
			<div class="staticBlurb">
				<p>Please send email to info@shelterme.com with any questions you may have.</p>
			</div>
			<div class="clearfix"></div>
		</div>	
  </div>
</div>
<div class="clearfix"></div>