<div id="landing">
	<div id="subject"></div>
	<div id="camera">
		<div id="video">
		</div>
	</div>
	<div id="content">
		<div id="topLeft">
			<div id="petsafe">
				<%= link_to "", "http://www.petsafe.net", target: "_blank" %>
			</div>
			<div id="presents"></div>
		</div>
		<div id="helpGive"></div>
		<div id="create"></div>
		<div id="buttons">
			<ul>
				<% if signed_in? %>
				<li class="welcomeNav">
					<%= link_to "", current_user %>
				</li>
				<% else %>
				<li class="learnNav">
					<%= link_to "", information_path %>
				</li>
			  <li class="signInNav">
					<%= link_to "", signin_path %>
				</li>
				<% end %>
			</ul>
		</div>
	</div>
</div>