<div id="landing">
	<div id="subject"></div>
	<div id="camera">
		<div id="video" style="display:none;">
			<video id="intro" class="video-js vjs-default-skin active" 
        autoplay preload="none" data-setup='{}'>
        <source src="http://smvideocontest.s3.amazonaws.com/assets/videos/Video_Contest_Home_Page_10.mp4" type="video/mp4">
      </video>
		</div>
	</div>
	<div id="content">
		<div id="topLeft">
			<div id="petsafe">
				<%= link_to "", "http://www.petsafe.net", target: "_blank" %>
			</div>
			<div id="presents"></div>
		</div>
		<div id="upperRight"></div>
		<div id="lowerLeft"></div>
		<div id="buttons">
			<ul>
				<% if signed_in? %>
				<li class="welcomeNav">
					<%= link_to "", current_user %>
				</li>
				<% else %>
				<li class="learnNav">
					<%= link_to "", information_path %>
				</li>
			  <li class="signInNav">
					<%= link_to "", signin_path %>
				</li>
				<% end %>
			</ul>
		</div>
	</div>
	<div id="leftEdge"></div>
</div>