<%= provide(:title, 'Information') %>
<div id="mainContent">
	<div class="staticContent">
		<h3>What is this?</h3>
		<p>Millions of pets end up in America’s animal shelters each year.  There are many things people can do to help our shelter pets.  This national video contest lets the public create videos to promote adoption, fostering, spay/neuter, donating and volunteering at animal shelters.</p>
		<p>The Shelter Me Video Contest, sponsored by PetSafe, taps into the creativity of the public to communicate the different ways to help the nation’s shelter pets.</p>
		<p>The Shelter Me Video Contest and the Shelter Me PBS series were created to increase community involvement and adoptions from the nation’s overwhelmed and under visited animal shelters.  The current state of the American animal shelter system is dire; an estimated 6 to 8 million animals enter the nation’s shelters annually and, of that number, 3 to 4 million will be euthanized. Shelter Me focuses on the success stories to bring more people into local shelters to give these incredible animals a second chance.</p>
	</div>
	<div class="staticContent">
		<h3>Prizes</h3>
		<p>Three videos will be selected that most effectively raises awareness about shelter animal issues.  The prize money will be split between the creator of the video and the public shelter of their choice.</p>
		<p>The prize for first place is <span style="font-weight:bold;">$3,000</span>, second place is <span style="font-weight:bold;">$2,000</span> and third place is <span style="font-weight:bold;">$1,000</span>. Prizes are provided by <%= link_to "Ady Gil World Conservation (AGWC)", "http://agwc501.org/", target: "_blank" %>.</p>
		<p>Additionally, the first place video will air on a national television program.</p>
	</div>
	<div class="staticContent">
		<h3>Calendar</h3>
		<p>The Shelter Me Video Contest encourages people to create videos from now until the middle of October.  Once a video is submitted, we will review it post it on this site within 96 hours if it meets the requirements. The public will be able to view, rate and share the videos beginning October 16.  Here is the schedule for the contest:</p>
		<p>August 5 - October 15: create and upload videos</p>
		<p>October 16 - December 1: public votes on the videos</p>
		<p>December 2 - December 15: results are tabulated and winners are announced</p>
	</div>
 <%= render "categories" %>
</div>
<div class="clearfix"></div>