<%= provide(:title, 'Terms of Use') %>
<div id="mainContent">
	 <div class="staticContent">	
	   <h3>Terms of Use</h3>
			<div class="staticEntry">
				<div class="staticBlurb">
					<p>Thank you for visiting http://contest.ShelterMe.com (hereinafter referred to as the "Site"). PLEASE READ THE FOLLOWING INFORMATION CAREFULLY BEFORE USING THE SITE.</p>
					<p>Your use of the Site is subject to the following terms and conditions (hereinafter referred to as the "Terms &amp; Conditions"). If you prefer not to accept any of these Terms &amp; Conditions, please exit the Site immediately. Your continued access to our Site implies that you agree to comply with and be bound by these Terms &amp; Conditions, including the confidentiality rules. If the Site makes a material modification to these Terms &amp; Conditions, including the Privacy Policy, it will notify you by displaying a prominent announcement above the text of these Terms &amp; Conditions or the Privacy Policy, as appropriate, for thirty (30) days.</p>
				</div>
				<div class="clearfix"></div>
			</div>	
			<div class="staticEntry">
				<h2>Copyright, Registered Trademark and Other Intellectual Property Rights</h2>
				<div class="staticBlurb">
					<p>This Site in its entirety as well as all the articles contained on this Site are protected by the laws governing copyright, registered trademarks and/or other intellectual property rights. Any and all articles uploaded to the Site are the property of the Site. Such articles include items such as photos, images, illustrations, texts, video clips, audio clips, drawings, logos, registered trademarks, graphics and other materials appearing on this Site, as well as the software used for designing and implementing the Site. All rights are reserved worldwide. The Shelter Me name and brand, as well as all the other brand names associated with Shelter Me mentioned on this Site, whether registered or not, are trademarks or international service marks of Shelter Me. The data contained on this Site is presented for information and promotion purposes only. The sharing of information and articles from this Site gives you no right, title or interest with respect to such documents or software. </p>
				</div>
				<div class="clearfix"></div>
			</div>	
			<div class="staticEntry">
				<h2>Suggestions and Submissions</h2>
				<div class="staticBlurb">
					<p>You hereby agree that all comments, suggestions, know-how, concepts, photos, testimonials, and all articles or documents communicated or entrusted through this Site or by any other means (hereinafter referred to as the "Suggestions") shall not be deemed as confidential and shall not be your property. All Suggestions shall automatically become the property of the Site as soon as they are made. The fact of making a Suggestion shall transfer to the Site all rights, titles and interests, including the copyrights, linked to the Suggestions. The Site shall have no obligation (i) to preserve the confidential nature of any Suggestion; (ii) to compensate financially anyone in exchange for or in connection with a Suggestion; or (iii) to reply to or acknowledge receipt of any Suggestion made to it. You hereby assert and guarantee that none of your Suggestions infringe on the rights of a third party, with respect to copyright, registered trademarks, patents, trade secrets, private life or any other personal or property rights. By making a Suggestion, you acknowledge that the Site may (but is not obliged to) copy, publish, disseminate or use this Suggestion for any purpose, including, but not limited to, advertising, promotional or product development purposes or any other commercial purpose, without any financial compensation being payable to you or any other person. You are and shall remain liable for the content of any Suggestion made by you.</p>
				</div>
				<div class="clearfix"></div>
			</div>	
			<div class="staticEntry">
				<h2>Inappropriate Material</h2>
				<div class="staticBlurb">
					<p>You are prohibited from posting or transmitting any unlawful, threatening, defamatory, libelous, obscene, pornographic or profane material or any material that could constitute or encourage conduct that would be considered a criminal offense or give rise to civil liability, or otherwise violate any law. You are also prohibited from posting or transmitting any virus, worm, time bomb, Trojan horse, automated device, spider, crawler, bot, or routine that can collect unauthorized information or interfere with or disrupt the operations of the Web Site, or any material that could constitute or encourage conduct that would be considered a criminal offense or give rise to civil liability, or otherwise violate any law. In addition to any remedies that the Site or its affiliates may have at law or in equity, if the Site or their affiliates reasonably determine that you have violated or are likely to violate the foregoing prohibitions, the Site may take any action it reasonably deems necessary to cure or prevent the violation, including without limitation, the immediate removal from the Web Site of such materials. The Site, their affiliates or their service providers will fully cooperate with any law enforcement authorities or court order or subpoena requesting or directing the Site, their affiliates or their service providers to disclose the identity of anyone posting such materials.</p>
				</div>
				<div class="clearfix"></div>
			</div>	
			<div class="staticEntry">
				<h2>Links</h2>
				<div class="staticBlurb">
					<p>This Site may contain links to other Internet sites. The Site and its Companies shall not be held liable for the availability or content of such sites or any article contained on or obtained through such sites. Any link to another site or any reference to information, products or services supplied by third parties, in no way imply that the Site and its Companies have given its approval concerning those sites or articles. Any question or comment concerning any other site must be sent to that site's operator. No link with the Site is authorized without the Site’s prior written approval.</p>
				</div>
				<div class="clearfix"></div>
			</div>	
			<div class="staticEntry">
				<h2>Disclaimer</h2>
				<div class="staticBlurb">
					<p>ShelterMe is a site for and about shelter pets. No information in ShelterMe is guaranteed. Please visit the shelter for the listing you are interested in to ensure it is accurate. Any pet adopted should be examined by a veterinarian and are the sole responsibility of the adopting party.</p>
					<p>ShelterMe accepts no responsibility for any liability or for any injury or damages to any person or property caused by any listed animal, as well as any cause of action, claims, suits or demands whatsoever that may arise as a result of such injury or damage.</p>
					<p>The articles appearing on the Site may contain inaccuracies or typographical errors. The Site shall not be held liable for any inaccuracy or error, or for loss or damage caused by or resulting from the use of information obtained on or through the Site. It is up to you to assess the information and any other content available on or through the Site. The Site and the information and articles appearing on it are liable to be modified at all times, possibly without further notice or advance warning.</p>
				</div>
				<div class="clearfix"></div>
			</div>	
			<div class="staticEntry">
				<h2>No Guarantee</h2>
				<div class="staticBlurb">
					<p>This Site and its contents are provided "as is" and "within the limit of their availability". The Site and its Companies shall not be held liable and provides no guarantee of any kind, whether express or implicit, including any guarantee as to the title or the absence of malevolent programs (such as viruses, worms or Trojan horses) or implicit guarantee as to trade value or suitability for a particular use, and expressly disclaims all liability and all guarantee.</p>
					<p>The Site and its Companies shall bear no liability and cannot guarantee that the information contained on the Site is accurate, complete or up-to-date, that the Site contains no defect or that any such defect shall be corrected. By using this Site, you agree to do so at your own risk and assume full responsibility for any impossibility to use the Site, any loss of data and the costs related to any assistance or repair of any hardware and/or software used by you for connecting to the site, and you agree to hold the Site and its Companies harmless for any damage whatsoever that may be caused by, result from or be connected to your use of the Site. In cases where the applicable law does not permit the exclusion of implicit guarantees, some or possibly all of the disclaimer clauses mentioned above may not apply to you.</p>
				</div>
				<div class="clearfix"></div>
			</div>	
			<div class="staticEntry">
				<h2>Limitation of Liability</h2>
				<div class="staticBlurb">
					<p>The Companies shall under no circumstances be held liable for any actual, direct, indirect, special, punitive, incidental, exemplary or consequential damage, or any other damage, whatever its nature, even if the Site and its Companies were previously informed of the possibility of such damage, whether during a contractual action, a prejudice or any other theory, resulting from, or connected to the use, incapacity to use or execution of information, products or documents on this Site. As some jurisdictions do not allow the exclusion or limitation of liability for consequential or incidental damage, some or even all of the limitations mentioned above may not apply to you.</p>
				</div>
				<div class="clearfix"></div>
			</div>	
			<div class="staticEntry">
				<h2>Representations and Warranties</h2>
				<div class="staticBlurb">
					<p>You represent, warrant and covenant your use of the Site will comply with these Terms &amp; Conditions.</p>
				</div>
				<div class="clearfix"></div>
			</div>	
			<div class="staticEntry">
				<h2>Compensation</h2>
				<div class="staticBlurb">
					<p>You hereby agree to defend, compensate and refrain from holding the Site and its Companies, and affiliated companies as well as their representatives, directors, employees and shareholders liable for any lawsuit, damages, losses, costs and expenses, including among other things any reasonable lawyers' fees and legal costs ensuing from or connected to the use of this Site.</p>
				</div>
				<div class="clearfix"></div>
			</div>	
			<div class="staticEntry">
				<h2>Indemnification</h2>
				<div class="staticBlurb">
					<p>You agree to indemnify and hold harmless the Site and its Companies, their affiliates and their service providers, and their respective officers, directors, employees, shareholders, licensees, franchisees, affiliates, agents, successors, assigns, retail partners, or any other party involved in the creation, production or transmission of the Web Site from and against any claims, damages, judgments, expenses, fees, or costs asserted against any of them based upon your use of the Web Site, or the services provided in relation to the Web Site any damage to your computer, telecommunication equipment or other property allegedly arising from access to, use of, or browsing the Web Site or your downloading of any materials, from the Web Site.</p>
				</div>
				<div class="clearfix"></div>
			</div>	
			<div class="staticEntry">
				<h2>Applicable Law</h2>
				<div class="staticBlurb">
					<p>The laws of the State of California will govern these Terms &amp; Conditions, without giving effect to any principles of conflicts of laws. In connection with any litigation, without limiting our right to bring and action against you in any jurisdiction, you further agree to submit to the exclusive jurisdiction of and venue in the state and federal courts located in the County of Los Angeles.</p>
				</div>
				<div class="clearfix"></div>
			</div>
      <div class="staticEntry">
        <h2>Terms of Use of Site</h2>
        <div class="staticBlurb">
          <p>You may use the Service, the Site, and the information, writings, images and/or other works that you see, hear or otherwise experience on the Site (singly or collectively, the "Content") solely for your non-commercial, personal purposes. No right, title or interest in any Content is transferred to you, whether as a result of downloading such Content or otherwise. ShelterMe.com reserves complete title and full intellectual property rights in all Content. Except as expressly authorized by this Agreement, you may not use, alter, copy, distribute, transmit, or derive another work from any Content obtained from the Site or the Service, except as expressly permitted by ShelterMe.com.</p>
        </div>
        <div class="clearfix"></div>
      </div>	
      <div style="text-align:center;">Last Updated: July 26, 2013</div><br>
    </div>
</div>
<div class="clearfix"></div>