<div class="span12 adminView">
  <table class="table table-condensed table-bordered">
    <thead>
      <th style="width:50px;border-left:0;">ID</th>
      <th style="width:120px;">Joined</th>
      <th style="width:80px;">Videos</th>
      <th style="width:80px;">Views</th>
      <th style="width:80px;">Votes</th>
      <th style="width:80px;">Shares</th>
      <th>Name</th>
    </thead>
    </tr>
  </table>
  <ul>
    <%= render @users %>
  </ul>
  <%= will_paginate %>
</div>