<div class="tabbable">
  <ul id="userNav" class="nav nav-pills">
    <li class="active videosPill"><a href="#myVideos" data-toggle="tab"></a></li>
    <li class="watchedPill"><a href="#watched" data-toggle="tab"></a></li>
    <li class="votedPill"><a href="#voted" data-toggle="tab"></a></li>
    <li class="sharedPill"><a href="#shared" data-toggle="tab"></a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="myVideos">
      user videos
    </div>
    <div class="tab-pane" id="voted">
      user votes
    </div>
    <div class="tab-pane" id="watched">
      user views	
    </div>
    <div class="tab-pane" id="shared">
      user shares         
    </div>
  </div>
</div>