<%= provide(:title, 'Contributors') %>
<div id="mainContent">
  <div class="profile-section">
    <div class="pageHeader">
      <div class="headerInfo">
        <h1><%= @contributors.count %> Contributors for <%= @video_count %> videos</h1>
      </div>  
    </div>
    <div id="users" class="row">
      <ul class="contributors">
      <%= render partial: "contributor", collection: @contributors, as: :f %>
      </ul>
    </div>
  </div>
</div>
<div class="clearfix"></div>