<div id="instructions" class="staticContent">
  <p>We are still evaluating all of the data from the contest. There was a fair amount of artificial inflation of views, shares and votes as well as deflation of average votes. That data was entered in direct violation of the rules of the contest.</p>
  <p>We will have the list of semi-finalists for you soon.</p>
</div>
<div class="clearfix"></div>