<div id="instructions" class="staticContent">
  <p>We have completed evaluating all of the data from the contest. There was a fair amount of artificial inflation of views, shares and votes as well as deflation of average votes. That data has been eliminated, as it was entered in direct violation of the rules of the contest.</p>
  <p>The final top ten rated videos are the semi-finalists from which the winners will be selected by our judging panel. The semi-finalists are shown on the first page of the <%= link_to "Best Rated videos", rated_path %> and have a star in the upper left corner.</p>
  <p>Winners will be announced in January. Good luck to the semi-finalists!</p>
</div>
<div class="clearfix"></div>