<div id="instructions" class="staticContent">
  <p><span style="font-weight:bold;">Voting and sharing controls have been repositioned horizontally above the video.</span></p>
  <p>Promote your favorite videos and help their creators win a prize by watching, sharing and voting for them. The top rated videos as <%= link_to "determined by views, shares and votes", "/rules#semifinalists" %> will be eligible to win a prize.</p>
  <p>The view count for a video will only increment after you watch the entire video.</p>
  <p>You do not need to create an account to watch or share a video, but you must
	<% if signed_in? %>
	register and be signed in
	<% else %>
	<%= link_to "register", register_path %> and be
	<%= link_to "signed in", signin_path %> 
	<% end %>
	to vote for a video. You may vote for a video once every 24 hours.</p>
</div>
<div class="clearfix"></div>