<div id="instructions" class="staticContent">
  <p>Thank you for participating in the contest. Voting is now closed. We are currently evaluating all of the data and will display the list of semi-finalists on Monday, December 23rd.</p>
</div>
<div class="clearfix"></div>