<div id="addVideo" class="modal" data-backdrop="static" data-keyboard="false">
  <div class="modal-inner mediaModal">
    <div class="pageHeader">
      <div class="largeIcon videoIcon"></div>
      <div class="headerInfo" style="width:450px;">
        <h1>Upload Your Video</h1><br>
				<p></p>
      </div>
	    <button class="close" data-dismiss="modal">&times;</button>
    </div>
    <div class="form">
      <p>Limited to 100 MB.</p>
      <p>Select a Category:</p>
      <div class="handhold" style="display:none;text-align:center;margin-bottom:20px;">
        This page will refresh once your upload is complete. Do not close the browser window.
      </div>
      <%= simple_form_for @video do |f| %>
       <%= render 'shared/error_messages', object: f.object %>
       <%= f.hidden_field :user_id, value: current_user.id %>
			<div id="file-drop" class="row filedrop">
			  <span class="btn formBtn fileinput-button" style="width:145px;margin-left:-5px;">
	        <span>Choose Video</span>
	        <input type="hidden" name="pet_video[panda_video_id]" id="returned_video_id" />
	       </span>
         <p>Or drop file here</p>
         <%= f.button :submit, "Upload", class: "formBtn" %>
       </div>
       <div id="upload_progress" class="panda_upload_progress"></div>
     <% end %>
    </div>
  </div>
</div>