<div id="photosNav" class="tab-pane">
	<div class="tabbable">
	  <ul class="nav nav-pills">
	    <li class="active"><a href="#tvshowNav" data-toggle="tab">ShelterMe TV Show</a></li>
	    <li><a href="#websiteDogNav" data-toggle="tab">ShelterMe.com Dogs</a></li>
	    <li><a href="#websiteCatNav" data-toggle="tab">ShelterMe.com Cats</a></li>
	  </ul>
	  <div class="tab-content" style="border-bottom:none;">
	    <%= render 'assets/photos/website_dogs' %>
	    <%= render 'assets/photos/website_cats' %>
	    <%= render 'assets/photos/tvshow' %>
	  </div>
	</div>
	<div class="disclaimer">
		<p>All videos, photos and graphics are owned by Steven Latham Productions.  By downloading the material, you agree to only use it only for the Shelter Me Video Contest, and to only upload it to this website. Any other use of the video, photos and graphics is prohibited and requires explicit permission. You can request permission via our <%= link_to "contact form", contact_path %>.</p>
	</div>
</div>