<%= render partial: 'shared/video_tile', collection: @searched_videos, as: :f %>
<% unless @searched_videos && @searched_videos.count > 0 %>
<div class="staticContent" style="margin-left:30px;">
  <p>No matching videos found.</p>
</div>
<% end %>