<%= provide(:title, 'All Videos') %>
<div class="staticContent" style="margin-top: 20px;">
	<h3>All Videos</h3>
	<%= render partial: 'shared/video_tile', collection: @videos, as: :f %>
</div>
<div class="clearfix"></div>