<%= provide(:title, 'Watch') %>
<div id="mainContent">
	<div class="tabbable">
     <ul id="watchVideos" class="nav nav-pills">
       <!--li class="active winnersPill"><a href="#winners" data-toggle="tab"></a></li-->
       <li class="active allVideosPill"><a href="#all" data-toggle="tab"></a></li>
       <li class="newVideosPill"><a href="#new" data-toggle="tab"></a></li>
       <li class="mostViewsPill"><a href="#mostViews" data-toggle="tab"></a></li>
       <li class="mostVotesPill"><a href="#mostVotes" data-toggle="tab"></a></li>
       <li class="mostSharesPill"><a href="#mostShares" data-toggle="tab"></a></li>
       <li class="bestRatedPill"><a href="#bestRated" data-toggle="tab"></a></li>
     </ul>
     <div class="tab-content">
       <div class="tab-pane active" id="all">
         all videos
       </div>
       <div class="tab-pane" id="new">
         new videos
       </div>
       <div class="tab-pane" id="bestRated">
         best rated
       </div>
       <div class="tab-pane" id="mostVotes">
         most votes
       </div>
       <div class="tab-pane" id="mostViews">
         most views	
       </div>
       <div class="tab-pane" id="mostShares">
         most shares         
       </div>
       <div class="tab-pane" id="winners">
         winners         
       </div>
     </div>
   </div>
</div>