$blueLight: #e4f1f3;

/* CUSTOMIZATION */

.video-js {
	background-color: transparent;
}

.vjs-fade-out {
  -webkit-transition: visibility 0.1s, opacity 0.1s;
     -moz-transition: visibility 0.1s, opacity 0.1s;
      -ms-transition: visibility 0.1s, opacity 0.1s;
       -o-transition: visibility 0.1s, opacity 0.1s;
          transition: visibility 0.1s, opacity 0.1s;
  -webkit-transition-delay: 0;
     -moz-transition-delay: 0;
      -ms-transition-delay: 0;
       -o-transition-delay: 0;
          transition-delay: 0;
}

.vjs-default-skin .vjs-big-play-button {
	/*display: none;*/
}

.vjs-default-skin .vjs-big-play-button:before {
	/*display: none;*/
}

.vjs-default-skin .vjs-duration, .vjs-time-divider {
	display: none;
}

.vjs-default-skin .vjs-remaining-time { 
	display: inline;
	position: absolute;
	right: 45px;
}

.vjs-default-skin .vjs-progress-control {
	font-size: 0.9em;
	left: 90px;
	right: 90px;
	top: 1.1em;
}

@-moz-document url-prefix() {  /* Hack to hide extraneous spinner in Firefox */
	.vjs-loading-spinner {
		font-size: 0;
	}
}

.vjs-default-skin .vjs-progress-holder, .vjs-default-skin .vjs-progress-holder .vjs-load-progress, .vjs-default-skin .vjs-progress-holder .vjs-play-progress {
	-moz-border-radius: 0.6em;
	-webkit-border-radius: 0.6em;
	border-radius: 0.6em;
}

.vjs-default-skin .vjs-fullscreen-control {
	display: none;
}

.vjs-default-skin .vjs-volume-control {
	display: none;
}

#intro {
	.vjs-lock-showing {
		visibility: hidden;
	}
}

#previewModal {
	display: none;
	padding: 25px 25px 20px 25px;
	height: 460px;
	background-color: #ffffff;
	.close {
		position: absolute;
		top: 4px;
		right: 7px;
		background-color: #ffffff;
		background: none;
		font-size: 16px;
	}
}

#videoModal {
	display: none;
	padding: 25px 25px 10px 25px;
	height: 500px;
	background-color: #ffffff;
	.close {
		position: absolute;
		top: 0;
		right: 5px;
		background-color: #ffffff;
		background: none;
		font-size: 32px;
	}
}

.ui-widget-overlay {
	background-color: $blueLight;
	background-image: none;
	opacity: 0.8;
	filter: alpha(opacity=80);
	z-index: 1040;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.ui-dialog .ui-dialog-titlebar {
	display:none;
}

.ui-dialog {
  -webkit-box-shadow: 4px 4px 10px rgba(50, 50, 50, 0.30);
	-moz-box-shadow:    4px 4px 10px rgba(50, 50, 50, 0.30);
	box-shadow:         4px 4px 10px rgba(50, 50, 50, 0.30);
  background-color: #ffffff;
  border: 1px solid rgb(85, 85, 85);
	padding: 0;
	z-index: 1050;
	&:focus {
		outline: none;
	}
}

#new_play {
	position: absolute;
	top: 30px;
	right: 10px;
	width: 1px;
	display: none;
}

#share {
	display:none;
	width: 43px;
	position: absolute;
	top: 34px;
	right: 34px;
	padding: 9px 9px 0;
	background-color: rgba(255,255,255,0.8);
	a {
		width:32px;
		height:32px;
		display:block;
		margin:0 auto 9px;
	}
	#new_share {
		display:none;
	}
	.email, .share {
		background:url(share.png);
		background-color: transparent; 
		background-repeat: no-repeat;
		display:block;
	}
	.share {
		background-position: 0 -33px ;
		width: 43px;
		height: 10px;
		margin-bottom:9px;
	}
	.email {
		background-position: 0 0;
		width: 32px;
		height: 32px;
		&:hover {
			background-position: -34px 0;
		}
	}
}

#videoSolo {
	margin-left: -20px;
	margin-top: 15px;
	#share {
		top:79px;
		right:179px;
		padding: 9px 9px 0;
		a {
			margin:0 auto 9px;
		}
	}
}