/* MIXINS & VARIABLES */

$grayDark: #333333;
$grayLightDark: #5e6465;
$grayDarkish: #999999;
$grayMediumDark: #c7c7c7;
$grayMediumLight: #eaeaea;
$grayMedium: #d9d7d6;
$grayLight: #f5f3f2;
$grayLighter: #f1efee;
$offWhite: #fdfdfd;

$brownGray: #d3cacb;
$brownDarkest: #722705;
$brownDark: #853a18;
$brownMediumDark: #ddd8d5;
$brownMedium: #d7d0cd;
$brownMediumLight: #efebe8;
$brownLight: #f2eeeb;
$brownLighter: #f4f2f0;
$brownLightest: #faf9f7;

$orange: #ec520a;
$orangeDark: #d54509;
$orangeLight: #f89e4f;

$grayBlue: #3d8aac;
$blueGray: #e9edee;
$blueLight: #e4f1f3;
$blueFade: #c0dce5;
$blueHilite: #49afcd;
$aqua: #19a3b1;
$lightAqua: #71e6f1;
$darkAqua: #0e5a61;
$aqua: #1bb3c1;
$blueSteel: #388cb2;

$burntUmber: #8E190E;

/* WATCH VIDEOS */

#watchVideos {
	li {
		width: 110px;
		height: 50px;
		margin-right: 6px;
		background-image: url(videosNav.png);
		background-color: transparent;
		background-repeat: no-repeat;
	}
	li > a:hover, li > a:focus, .active a, .active a:hover {
		background-color: transparent;
	}
	a {
		display: block;
		width: 100%;
		height: 100%;
		padding: 0;
	}
	li.active.winnersPill {
		background-position: -111px -306px;
		&:hover {
			background-position: -111px -306px;
		}
	}
	li.active.allVideosPill {
		background-position: -222px -102px;
		&:hover {
			background-position: -222px -102px;
		}
	}
	li.active.newVideosPill {
		background-position: 0 -306px;
		&:hover {
			background-position: 0 -306px;
		}
	}
	li.active.mostViewsPill {
		background-position: 0 0;
		&:hover {
			background-position: 0 0;
		}
	}
	li.active.mostVotesPill {
		background-position: 0 -204px;
		&:hover {
			background-position: 0 -204px;
		}
	}
	li.active.mostSharesPill {
		background-position: -222px -51px;
		&:hover {
			background-position: -222px -51px;
		}
	}
	li.active.bestRatedPill {
		background-position: -111px 0;
		&:hover {
			background-position: -111px 0;
		}
	}
	.winnersPill {
		background-position: -222px 0;
		&:hover {
			background-position: -222px -204px;
		}
	}
	.allVideosPill {
		background-position: -222px -153px;
		&:hover {
			background-position: 0 -255px;
		}
	}
	.newVideosPill {
		background-position: 0 -51px;
		&:hover {
			background-position: -111px -255px;
		}
	}
	.mostViewsPill {
		background-position: 0 -153px;
		&:hover {
			background-position: -111px -51px;
		}
	}
	.mostVotesPill {
		background-position: -222px -306px;
		&:hover {
			background-position: -111px -204px;
		}
	}
	.mostSharesPill {
		background-position: -111px -153px;
		&:hover {
			background-position: 0 -102px;
		}
	}
	.bestRatedPill {
		background-position: -111px -102px;
		&:hover {
			background-position: -222px -255px;
		}
	}
}

/* ADD VIDEOS */

li.addVideoNav  {
	width: 110px;
	height: 50px;
	margin: 0 32px;
	background-image: url(addVideoNav.png);
	background-color: transparent;
	background-repeat: no-repeat;
	a {
		width: 100%;
		height: 100%;
		display: block;
		&:hover {
			background-color: transparent;
		}
		&:focus {
			background-color: transparent;
		}
	}
	&.active {
		a {
			background-color: transparent;
			&:hover {
				background-color: transparent;
			}
			&:focus {
				background-color: transparent;
			}
		}
		&.videoClipsPill {
			background-position: -111px -51px;
			&:hover {
				background-position: -111px -51px;
			}
			&:focus {
				background-color: transparent;
			}
		}
		&.audioTracksPill {
			background-position: 0 -102px;
			&:hover {
				background-position: 0 -102px;
			}
			&:focus {
				background-color: transparent;
			}
		}
		&.photosPill {
			background-position: -222px -102px;
			&:hover {
				background-position: -222px -102px;
			}
			&:focus {
				background-color: transparent;
			}
		}
		&.graphicsPill {
			background-position: 0 -153px;
			&:hover {
				background-position: 0 -153px;
			}
			&:focus {
				background-color: transparent;
			}
		}
	}
	&.videoClipsPill {
		background-position: 0 -51px;
		&:hover {
			background-position: -222px 0;
		}
	}
	&.audioTracksPill {
		background-position: -111px 0;
		&:hover {
			background-position: 0 0;
		}
	}
	&.photosPill {
		background-position: -222px -153px;
		&:hover {
			background-position: -111px -102px;
		}
	}
	&.graphicsPill {
		background-position: -111px -153px;
		&:hover {
			background-position: -222px -51px;
		}
	}
}

#videoClipsNav, #photosNav, #audioNav, #graphicsNav {
	.tabbable {
		margin:0;
	}
	.nav-pills > .active > a, .nav-pills > .active > a:hover, .nav-pills > .active > a:focus {
		color: white;
		background-color: #0e5a61;
	}
	.nav-pills a {
		font-size: 12px;
		color: #0e5a61;
		&:hover {
			color: #19a3b1;
		}
	}
}

.videoClip {
	position: relative;
	width: 170px;
	height: 96px;
	margin-right:5px;
	margin-top:5px;
	float:left;
	a {
		text-align: center;
		font-size: 11px;
		position: absolute;
		width: 100px;
		height: 20px;
		text-transform: lowercase;
		color: #0e5a61;
		background: rgb(255, 255, 255) transparent;
		background-color: rgba(255,255,255,0.8);
		filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#ccffffff', endColorstr='#ccffffff'); /* IE */
		display:none;
		-webkit-border-radius: 4px;
	  -moz-border-radius: 4px;
	  border-radius: 4px;
		&:hover {
			background: rgb(14, 90, 97) transparent;
			background-color: rgba(14,90,97,0.8);
			filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#cc0E5A61', endColorstr='#cc0E5A61'); /* IE */
			color: #ffffff;
		}
	}
	.previewLink {
		top: 20px;
		left: 35px;
	}
	.downloadLink {
		bottom: 20px;
		left: 35px;
	}
}

/* ADD VIDEO MODAL */

#addVideo {
	.form-horizontal .control-label {
		width: 80px;
	}
	.form-horizontal .controls {
		margin-left: 100px;
	}
}

/* VIDEO TILES */

.video-tile {
  display: inline;
  float: left;
  position: relative;
  margin: 5px 25px 20px;
  &:hover {
    -webkit-box-shadow: 0px 0px 8px rgba(0, 85, 128, 0.75);
    -moz-box-shadow:    0px 0px 8px rgba(0, 85, 128, 0.75);
    box-shadow:         0px 0px 8px rgba(0, 85, 128, 0.75);
  }
}

.tile-photo {
  width: 300px;
  height: 169px;
  -moz-background-attachment: fixed;
  img {
	  width: 300px;
  }
  a {
    display: block;
    width: 300px;
    height: 169px;
  }
}

.video-icons {
  display:block;
  ul {
    list-style: none;
    margin: 2px 0 0 1px;
    padding: 0;
  }
  li {
    float: left;
    position: relative;
    background-color: $grayMediumLight;
    height: 45px;
    width: 45px;
    margin: 3px 0 0 4px;
    .weight {
      position: absolute;
      font-size: 11px;
      font-weight: bold;
      text-transform: uppercase;
      top: 5px;
      left: 4px;
    }
  }
	.shares {
		position: absolute;
		font-size: 11px;
		font-weight: bold;
		width: 45px;
		text-align: right;
		bottom: 0;
		right: 4px;
	}
	.views {
		position: absolute;
		font-size: 11px;
		font-weight: bold;
		width: 45px;
		text-align: center;
		bottom: 0;
		left: 0;
	}
}

.video-info {
  clear: both;
  float: left;
  margin: 0 5px 5px;
  color: $grayDark;
  font-size: 13px;
  width: 290px;
  height: 16px;
	a {
		display: inline-block;
		height: 100%;
		font-weight: normal;
    &:hover {
      text-decoration: none;
    }
	}
  .user_name {
		display: inline-block;
		width: 140px;
		margin-right:4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis; /* for Opera Mobile and Opera Mini */
  }
	.user_location {
		display: inline-block;
		width: 140px;
		text-align: right;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis; /* for Opera Mobile and Opera Mini */
	}
}

.video-name {
	clear: both;
	float: left;
	padding-top: 7px;
	margin-left: 5px;
	width: 290px;
	height: 20px;
	overflow: hidden;
	h1 {
		height: 100%;
    font-size:16px;
    color: $grayDark;
		letter-spacing: 0;
		font-weight: bold;
  }
}

.videoLegend {
	float: left;
	margin-top: 5px;
	margin-left: -5px;
}