<div class="tab-pane" id="miscClips">
	<div class="videoClip">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/assets/videos/1120HN02.jpg", width: "170", height: "96")%>
	  <%= link_to "preview", "1120HN02", class: "previewLink" %>
	  <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/assets/videos/1120HN02.zip", class: "downloadLink" %>
	</div>
</div>