<div class="tab-pane active" id="requiredClips">
	<div class="videoClip">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/assets/videos/PetSafeOutro.jpg", width: "170", height: "96")%>
    <%= link_to "preview", "http://smvideocontest.s3.amazonaws.com/assets/videos/PetSafe_Outro.mp4", class: "previewLink" %>
    <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/assets/videos/PetSafe_Outro.mov.zip", class: "downloadLink" %>
  </div>
	<div class="videoClip">
		<p style="padding:15px 10px 0;">Please include this clip from our sponsor at the end of your video.</p>
  </div>
</div>