<div class="tab-pane active" id="requiredClips">
	<div class="videoClip">
		<%= image_tag("http://smvideocontest.s3.amazonaws.com/video/PetSafe_Outro_5_Seconds.jpg", width: "170", height: "96")%>
    <%= link_to "preview", "PetSafe_Outro_5_Seconds", class: "previewLink" %>
    <%= link_to "download", "http://smvideocontest.s3.amazonaws.com/video/PetSafe_Outro_5_Seconds.mov.zip", class: "downloadLink" %>
  </div>
	<div class="videoClip"  style="background-image:none;">
		<p style="padding:15px 10px 0;">This sponsor clip must be included at the end of your video.</p>
  </div>
</div>